*
{
    font-family: "Pixelify Sans",  serif;
}

.tiny5-regular
{
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

.pixelify-sans-uniquifier {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }